                                             Damping parameters     Lande  Central
Spec Ion     WL_vac(A)  Excit(eV) log gf* Rad.   Stark   Waals   factor  depth  Reference
'Fe 1',      5000.0,  6.9999,   -9.999,  0.000,  0.000, 0.000, 0.0, 0.0
* oscillator strengths were scaled by the solar isotopic ratios.